.college
{
   background-color: rgb(62, 64, 77);
   color:white;
   text-align:center;
   padding-bottom: 0%;
   line-height:0%;
   margin-left:1mm;
   margin-right: 0;
   padding-left:1mm;
   width:1500px;
   
}
.left{
   float:left;
   width:125px;
   height:120px;
   margin-top:0px;
}
.right
{
   float:right;
   width:125px;
   height:120px;
   padding-right:10px;

}
p{
	font-size: 20px;
}
li{
	font-size: 20px;
}
.description
        {
            margin-left:200px;
            margin-right:200px;
        } 


img{
float:right;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer
{
	background-color:rgba(4,9,30,0.6);
    margin-left: 0%;
   margin-right: 0%;
   width:1500px;
}
.footer-col{
   width: 25%;
  padding:10px;
   margin-left: 0%;
   margin-right: 0%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color:rgb(221, 208, 208);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}